/* footer style */
footer{
    background-color:white;
    height: 70px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: fixed;
}